<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>第9节 列表渲染</title>
    <script src="./vue.js"></script>
</head>
<body>
    <ul id="example-1">
        <li v-for="item, index in items" v-bind:key="index">
            {{ index }}. {{ item.message }}
        </li>
    </ul>

    <ul id="v-for-object" class="demo">
        <li v-for="value, key in object" v-bind:key="key">
            {{ key }}: {{ value }}
        </li>
    </ul>

    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                items: [
                    { message: 'Foo'},
                    { message: 'Bar'}
                ]
            }
        })
        var object1 = new Vue({
            el: "#v-for-object",
            data: {
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                }
            }
        })
    </script>
</body>
</html>